// Application
.countdown-app * {
    font-weight: 300;
}

body {
    //background-color: $black-cl;
    color: $light-cl;
    font-family: 'Roboto', sans-serif;
    padding-top: 5rem;
    font-weight: 300;
    @extend .gradient;
}

h1 {
    font-size: 2rem;
    font-weight: 300;
}


a {
    color: #348AC7
}
